@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400&subset=latin,cyrillic);

body {
	background: #37414F;
	font-family: "Open Sans", sans-serif;
}
	
html, body {
	height: 100%;
}

.wrapper {
  display: table;
  height: 100%;
  width: 100%;
}

.content {
  display: table-row;
  height: 100%;
}
	
.header {
	background: #79DE4F;
	color: #FFFFFF;
	position: relative;
	padding: 5px 0px 5px 15px;
	font-weight: 300;
	font-size: 22px;
	height: 60px;
}

.header .text, img {
	vertical-align: middle;
	margin-left: 20px;
}

.data {
	background: #FFFFFF;
	border-radius: 4px;
	margin-top: 20px;
	padding: 10px;
}

.section {
	padding: 10px;
}

.section h2 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 22px;	
	line-height: 25%;
	padding-left: 5px;
}

.cgi {
	background: #F0F0F0;
	border-radius: 2px;
	padding: 5px 5px 5px 10px;
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
	font-size: 16px;
}

#btn_led {
	float: right;
	margin-right: 5px;
}

.interval {
	text-align: center;
	color: #848484;
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
	font-size: 14px;
}

.footer {
	height: 50px;
	width: 100%;
	line-height: 50px;
	text-align: center;
	margin-top: 20px;
	background: #252B33;
	font-family: "Open Sans", sans-serif;
}

.footer a {
    color: #F0F0F0;
}